MINIO_ROOT_USER=reviewsentinel
MINIO_ROOT_PASSWORD=changeme123
MLFLOW_EXPERIMENT_NAME=sentiment_analysis_experiment
PREFECT_API_URL=http://prefect-server:4200/api
MODEL_DIR=artifacts/models/distilbert-finetuned/
LOG_LEVEL=INFO
